{{ use('yii/bootstrap') }}
{{ use('yii\bootstrap\ActiveForm') }}
{{ register_asset_bundle('frontend/assets/AppAsset') }}
{{   void(this.beginPage()) }}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#"
      xmlns:og="http://ogp.me/ns#"
      lang="{{ app.language }}">


{% include 'base/head.twig' %}

<body class="start-screen modernui-dark-bg">

<div class="container">
  {{ content|raw }}
</div>

{% include 'base/footer.twig' %}
{{   void(this.endBody()) }}
</body>
</html>
{{   void(this.endPage()) }}
